@import '../../scss/vars.scss';
.scoreboard {
    position: relative;
    width: 100%;
    color: $white;
    max-height: 100vh;
    display: block;
    margin: auto;
}

.player-score {
    position: relative;
    display: inline-block;
    padding: 1rem;
    @media screen and ($desktop) {}
    .score {
        display: block;
        border: 2px solid $light-blue;
        background: $light-gray;
        color: $dark-blue;
        padding: 7px;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        max-width: 35px;
        font-size: 21pt;
        @media only screen and ($tablet) {
            padding: 0.6rem;
            font-size: 30pt;
        }
        @media only screen and ($desktop) {
            max-width: 50px;
            padding: 5px;
            font-size: 40pt;
            margin: auto;
            margin-bottom: 20px;
        }
    }
    .move {
        display: block;
        color: $dark-blue;
        background: $light-gray;
        border-radius: $rounded-border;
        height: 25vmin;
        width: 25vmin;
        font-size: 4vmin;
        padding: 0.5rem;
        &.move-unknown {
            color: $dark-gray;
        }
        @media screen and ($desktop) {
            height: 180px;
            width: 180px;
            font-size: 22pt;
            margin: 2rem;
        }
    }
}
