$white: #ffffff;
$light-gray: #c9c9c9;
$dark-gray: #6c6c6c;
$dark: #393838;
$black: #0C0C0C;
$green: #2eb552;
$dark-green: #063500;
$red: #FF1E1E;
$light-blue: #02bdeb;
$dark-blue: #2337ED;
$purple: #8030b5;
$yesllow: #e9e064;
$rounded-border: 8px;
$tablet: "min-width: 450px";
$desktop: "min-width:1020px";
$emoji-font: monospace;
