$white: #FFFFFF;
$light-gray: #EDEDED;
$dark-gray: #5B5B5B;
$dark: #0C0C0C;
$green: #1BE250;
$red: #FF1E1E;
$light-blue: #1ED2FF;
$dark-blue: #2337ED;
$purple: #9800FF;
$yesllow: #EDDD00;
$rounded-border: 5px;
$tablet: 570px;
$mobile: 410px;
